$bg-color: #d2d2d2;

@font-face {
  font-family: "open-sans";
  font-style: normal;
  font-weight: normal;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("./dist/fonts/OpenSans-Regular.ttf") format("ttf"),
    url("./dist/fonts/OpenSans-Regular.eot") format("eot"),
    url("./dist/fonts/OpenSans-Regular.woff") format("woff"),
    url("./dist/fonts/OpenSans-Regular.woff2") format("woff2"),
    url("./dist/fonts/OpenSans-Regular.woff2") format("svg");
}

body {
  background-color: $bg-color;
  font-family: "open-sans";
}
